@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tr,th,td,select{margin:0;padding:0;word-wrap:break-word}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color:#383838}
a{text-decoration:none; color:#454545; outline:none; cursor:pointer;}
a:hover{text-decoration:underline; color:#245eb6; outline:none}
i,em{ font-style:normal}

.f-fwn{ font-weight: normal;}
.f-ha{ height:auto !important;}
.f-cp{ cursor: pointer;}
.f-txt{ cursor: text;}
.f-w800{ width:800px;}
.f-w05{ width: 50%;}
.f-fs12{ font-size:12px;}
.f-fs14{ font-size:14px;}
.f-fs16{ font-size:16px;}
.f-fs20{ font-size:20px;}
.f-fs24{ font-size:24px;}
.f-fs30{ font-size:30px;}
.f-ffeng{ font-family:Arial, Helvetica, sans-serif;}
.f-ffnum{ font-family:Georgia, "Times New Roman", Times, serif}
.f-fr{ float:right;}
.f-fl{ float:left;}
.f-dn{display: none;}
.f-clear{ clear:both;}
.f-cb{ *zoom:1;}
.f-cb:before,.f-cb:after{ content:''; display:block; clear:both; height:0; visibility:hidden;}
.f-fwb{ font-weight:bold;}
.f-pd0{ padding:0 !important;}
.f-pd10{ padding:10px !important;}
.f-pd15{ padding:15px;}
.f-pd20{ padding:20px;}
.f-pdl20{ padding-left:20px !important;}
.f-pdl10{ padding-left:10px;}
.f-pdlr5{ padding-left:5px; padding-right:5px;}
.f-pdlr10{ padding-left:10px !important; padding-right:10px !important;}
.f-pdlr15{ padding-left:15px; padding-right:15px;}
.f-pdtb10{ padding-top:10px !important; padding-bottom:10px !important;}
.f-pdt5{ padding-top:5px;}
.f-pdt10{ padding-top:10px !important;}
.f-pdt15{ padding-top:15px;}
.f-pdt20{ padding-top:20px;}
.f-pdb0{ padding-bottom:0px !important;}
.f-pdb10{ padding-bottom:10px !important;}
.f-oh{ overflow:hidden;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{ text-indent: 2em;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap; text-overflow:ellipsis;}
.f-mid{ content:''; display:inline-block; height:100%; width:1px; vertical-align:middle; margin-left:-1px;}
.f-di{ display:inline;}
.f-vam{ vertical-align:-2px;}
.f-va4{ vertical-align:4px;}
.f-va8{ vertical-align:8px;}
.f-vat{ vertical-align: top !important;}
.f-tac{text-align:center;}
.f-tal{text-align:left !important;}
.f-tar{text-align:right;}
.f-dib{ display:inline-block; *zoom:1; *display:inline;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-mlr{ margin-left:auto; margin-right:auto;}
.f-m10{ margin:10px;}
.f-m15{ margin:15px;}
.f-m20{ margin:20px;}
.f-mb10{ margin-bottom:10px;}
.f-mb15{ margin-bottom:15px;}
.f-mb20{ margin-bottom:20px;}
.f-mb30{ margin-bottom:30px;}
.f-mb5{ margin-bottom:5px;}
.f-mb0{ margin-bottom:0 !important;}
.f-mtb5{ margin-top:5px; margin-bottom:5px;}
.f-mtb10{ margin-top:10px; margin-bottom:10px;}
.f-ml2{ margin-left:2px;}
.f-ml5{ margin-left:5px;}
.f-ml10{ margin-left:10px;}
.f-ml15{ margin-left:15px;}
.f-ml20{ margin-left:20px;}
.f-mlr0{ margin-left:0px !important; margin-right:0px !important;}
.f-mlr5{ margin-left:5px; margin-right:5px;}
.f-mlr10{ margin-left:10px; margin-right:10px;}
.f-mlr15{ margin-left:15px; margin-right:15px;}
.f-mltr15{ margin-left:15px; margin-right:15px; margin-top:15px;}
.f-mr5{ margin-right:5px;}
.f-mr10{ margin-right:10px;}
.f-mr15{ margin-right:15px;}
.f-mr20{ margin-right:20px;}
.f-mt5{ margin-top:5px;}
.f-mt10{ margin-top:10px;}
.f-mt15{ margin-top:15px;}
.f-mt20{ margin-top:20px;}
.f-mtb20{ margin-top:20px; margin-bottom:20px;}
.f-m0{ margin:0 !important;}
.f-mr0{ margin-right:0 !important;}
.f-ml0{ margin-left:0 !important;}
.f-mlr10{ margin-left:10px !important; margin-right:10px !important;}
.f-ml45{ margin-left:45px;}
.f-bm1{ border-bottom:1px solid #e5e5e5; }
.f-b0{ border: 0 !important;}
.f-b1s{ border: 1px solid #e5e5e5;}

.s-normal{ color:#454545;}
.s-blue{ color:#245eb6;}
.s-green{ color:green;}
.s-gray{ color:#808080;}
.s-red{ color:red;}
.s-yellow{ color:#ffa900}
.s-orange{ color:#ff7000}
.s-blue-light{ color:#32AAE5;}
.s-blue-light-1{ color:#2E8AE5}

.pie{position:relative; overflow:hidden; behavior: url(/member/css/PIE.htc);}

.u-btn,.u-btn-light{
	background: #1D8EDB; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1D8EDB), color-stop(100%,#1D8EDB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1D8EDB 0%,#1D8EDB 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	-pie-background: linear-gradient(#1D8EDB, #1D8EDB);/* IE6-9 */
	background: -webkit-linear-gradient(top, #1D8EDB 0%, #1D8EDB 100%);
	background: linear-gradient(to bottom,  #1D8EDB 0%,#1D8EDB 100%); /* W3C */ border-radius:3px; color:#fff; display:inline-block; font-size:12px; line-height:20px; border:0 none; cursor:pointer; vertical-align:middle; padding:3px 10px; overflow:visible; font-family:Arial,sans-serif,Tahoma;
}
.u-btn-light{ background:#32AAE5;}
.u-btn:hover,.u-btn-light:hover{ color:#fff; text-decoration:none; background:#1282cf;}
.u-btn-green{
	background: #099309; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#099309), color-stop(100%,#018301)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #099309 0%,#018301 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	-pie-background: linear-gradient(#099309, #018301);/* IE6-9 */
	background: -webkit-linear-gradient(top, #099309 0%, #018301 100%);
	background: linear-gradient(to bottom,  #099309 0%,#018301 100%); /* W3C */ border-radius:3px; color:#fff; display:inline-block; font-size:12px; line-height:20px; border:0 none; cursor:pointer; vertical-align:middle; padding:3px 10px; overflow:visible; font-family:Arial,sans-serif,Tahoma;
}
.u-btn-green:hover{ color:#fff; text-decoration:none; background:#018301;}
.u-btn-blue-2{
	background: #40A8DC; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40A8DC), color-stop(100%,#2890C4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #40A8DC 0%,#2890C4 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #40A8DC 0%, #2890C4 100%);
	background: linear-gradient(to bottom,  #40A8DC 0%,#2890C4 100%); /* W3C */
	-pie-background: linear-gradient(#40A8DC, #2890C4); /* IE6-9 */	
	border:1px solid #317FA6; border-radius:3px; padding:3px 10px; color:#fff; display:inline-block; font-size:12px; line-height:20px;cursor:pointer; vertical-align:middle; *display:inline; *zoom:1;
}
.u-btn-blue-2:hover{ color:#fff; text-decoration:none; background:#40A8DC;}
.u-btn-red{
	background: #e72828; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e72828), color-stop(100%,#d81919)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e72828 0%,#d81919 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #e72828 0%, #d81919 100%);
	background: linear-gradient(to bottom,  #e72828 0%,#d81919 100%); /* W3C */
	-pie-background: linear-gradient(#e72828, #d81919); /* IE6-9 */ border-radius:3px; padding:3px 10px; color:#fff; display:inline-block; font-size:12px; line-height:20px;border:0 none;cursor:pointer; vertical-align:middle;
}
.u-btn-red:hover{ color:#fff; text-decoration:none; background:#db1b1b;}
.u-btn-yellow{
	background: #ff870f; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff870f), color-stop(100%,#f07900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff870f 0%,#f07900 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #ff870f 0%, #f07900 100%);
	background: linear-gradient(to bottom,  #ff870f 0%,#f07900 100%); /* W3C */
	-pie-background: linear-gradient(#ff870f, #f07900); /* IE6-9 */ border-radius:3px; padding:3px 10px; color:#fff; display:inline-block; font-size:12px; line-height:20px;border:0 none;cursor:pointer; vertical-align:middle;
}
.u-btn-yellow:hover{ color:#fff; text-decoration:none; background:#e27100;}
.u-btn-yellow-2{
	background: #ff9000; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa900), color-stop(100%,#ff9000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa900 0%,#f07900 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #ffa900 0%, #ff9000 100%);
	background: linear-gradient(to bottom,  #ffa900 0%,#ff9000 100%); /* W3C */
	-pie-background: linear-gradient(#ffa900, #ff9000); /* IE6-9 */	
	border:1px solid #e58422; border-radius:3px; padding:3px 10px; color:#fff; display:inline-block; font-size:12px; line-height:20px;cursor:pointer; vertical-align:middle; *display:inline; *zoom:1;
}
.u-btn-yellow-2:hover{ color:#fff; text-decoration:none; background:#ff9000;}
.u-btn-gray{
	background: #fff; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #fff 0%, #f6f6f6 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f6f6f6 100%); /* W3C */
	-pie-background: linear-gradient(#fff, #f6f6f6); /* IE6-9 */ border-radius:3px; padding:3px 10px; color:#444; display:inline-block; font-size:12px; line-height:20px;border:0 none;cursor:pointer; border:1px solid #d0d0d0; vertical-align:middle;
}
.u-btn-gray:hover{ color:#444; text-decoration:none;}
.u-btn-gray1{
	background: #f7f7f7; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e6e6e6 100%); /* W3C */
	-pie-background: linear-gradient(#f7f7f7, #e6e6e6); /* IE6-9 */
	border-bottom:1px solid #ccc; border-radius:3px; padding:3px 10px; color:#757575; text-shadow:1px 1px #fff; display:inline-block; font-size:12px; line-height:20px; border-bottom:1px solid #ccc; cursor:pointer; vertical-align:middle;
}
.u-btn-gray1:hover{ color:#757575; text-decoration:none; background:#e6e6e6;}
.u-btn-white{ border-radius:3px; padding:3px 10px; color:#757575; display:inline-block; font-size:12px; line-height:20px;border:1px solid #ccc;cursor:pointer; vertical-align:middle; background:#fff;}
.u-btn-white:hover,.u-btn-white-sel{ border:1px solid #0077cc; color:#0077cc; text-decoration:none;}
.u-btn-flat{ -webkit-border-radius:0; -moz-border-radius:0; -o-border-radiu:0; border-radius:0;}
.u-btn-txt{ line-height:28px; height:28px; padding:0 10px;}
.u-btn-big{ line-height:28px; font-size:14px;}
.u-btn-biger{ line-height:40px; height:40px; padding:0 25px; font-size:16px; font-family:"微软雅黑";}
.u-btn-spl{ display:inline-block; vertical-align:middle; height:26px; line-height:26px; background:#fff; border:1px solid #ccc; padding:0 10px; color:#909090;}
.u-btn-spl:hover{ border:1px solid #1282cf; text-decoration:none; color:#1282cf;}

/* 表单的一些东西 */
.u-txt,.u-slt-txt,.u-txtarea,.u-slt{box-sizing: border-box; padding: 8px 12px; color:#383838; border-radius: 3px; border:1px solid; border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8; -o-box-shadow:2px 3px 3px #f6f8f9 inset; -ms-box-shadow:2px 3px 3px #f6f8f9 inset; box-shadow:2px 3px 3px #f6f8f9 inset; outline:none; -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.u-txt:hover,.u-slt-txt:hover,.u-txtarea:hover,.u-slt:hover{ border:1px solid #ababab; border-right-color:#ccc; border-bottom-color:#ccc;}
.u-txt:focus,.u-slt-txt:focus,.u-txtarea:focus,.u-slt:focus{ border:1px solid #377bcb; border-right-color:#377bcb; border-bottom-color:#377bcb;}
.u-radio,.u-checkbox{ vertical-align:-2px; background:#fff;}
.u-slt{ vertical-align:middle; height:30px; line-height:30px; height:auto\9; line-height:none\9;}
.u-slt-txt{ padding-top:2px; padding-bottom:2px; height:28px; line-height:28px; height:auto\9; line-height:normal\9;}
.u-bt{ padding:0.25em; width:auto;_width:0; visibility:visible; background:#ddd; height:24px; border-top:0; border-left:0; border-bottom:1px solid #666; border-right:1px solid #666; margin-right:5px; cursor:pointer; vertical-align:middle;}
.u-txtarea{ line-height:18px;padding:5px; overflow:auto; height:auto;}
.u-fieldset{ border:1px solid #d8d8d8; padding:10px;}
.u-fieldset legend{ padding:3px 8px; font-weight:700; border:1px solid #d8d8d8; background:#f9f9f9;}
.u-txt-btn{padding:4px 5px;}
.u-txt-btn-1{ padding: 1px 5px;}
.u-txt-date{ background:#fff url(../images/common/input_date.png) right 7px no-repeat; padding-right:18px;}

.u-txt-word{ position:relative; display:inline-block; zoom:1;}
.u-txt-word em{ position:absolute; z-index:1; right:10px; display:inline-block; line-height:18px; top:50%; margin-top:-9px; height:18px; color:#999;}
.u-txt-word input{ padding-right:46px;}

.u-txt[size="65"]{ width: 400px;}

.u-div-txtarea{ padding: 14px 20px; outline: none; word-break: break-all; word-wrap: break-word;}

/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime,.Validform_checktip{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/common/msg_bg.png) no-repeat; color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError,.Validform_wrong{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect,.Validform_right{background-position:3px -247px;border-color:#40B3FF; display:none;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}
.u-icon-error,.u-icon-right{ display:inline-block; vertical-align:middle; width:17px; height:17px; *display:inline; *zoom:1; background:url(../images/common/msg_bg.png) no-repeat;}
.u-icon-error{ background-position:0 0;}
.u-icon-right{ background-position: 0 -250px;}
.f-validForm-dn .u-msg{ display: none;}
.f-validForm-show .u-msg{ display: inline-block;}
.f-validForm-show .Validform_right{ display: none;}

.u-icon-question-big,.u-icon-alert-big,.u-icon-succeed-big,.u-icon-error-big{ display:inline-block; vertical-align:middle; width:48px; height:48px; *display:inline; *zoom:1; }
.u-icon-question-big{background:url(../images/icon/icon2/question.png) no-repeat;}
.u-icon-warning-big{background:url(../images/icon/icon2/warning.png) no-repeat;}
.u-icon-succeed-big{background:url(../images/icon/icon2/succeed.png) no-repeat;}
.u-icon-error-big{background:url(../images/icon/icon2/error.png) no-repeat;}

.u-icon-file,.u-icon-folder,.u-icon-folder-closed,.u-icon-search,.u-icon-male,.u-icon-women{display: inline-block; vertical-align: -3px; width:16px; height:16px; overflow: hidden; text-indent: -9999px;}
.u-icon-file{ background: url(../images/icon/icon-file.gif) center center no-repeat;}
.u-icon-folder{ background: url(../images/icon/icon-folder.gif) center center no-repeat;}
.u-icon-folder-closed{ background: url(../images/icon/icon-folder-closed.gif) center center no-repeat;}
.u-icon-search{ background: url(../images/icon/icon-search.png) center center no-repeat;}
.u-icon-male{ background: url(../images/icon/icon-male.png) center center no-repeat;}
.u-icon-women{ background: url(../images/icon/icon-women.png) center center no-repeat;}

.u-icon-exchange{background: url(../images/common/icon-exchange.gif) center center no-repeat; width: 25px; height: 25px; border: 1px solid #d8d8d8; display: inline-block; vertical-align: middle;}
.u-icon-exchange:hover{ border:1px solid #388bff}

.u-icon-order{background: url(../images/common/icon-order.gif) right center no-repeat; padding-right: 16px; cursor: pointer;}
.u-icon-order-up{background: url(../images/common/icon-order-up.gif) right center no-repeat; padding-right: 16px; cursor: pointer;}
.u-icon-order-down{background: url(../images/common/icon-order-down.gif) right center no-repeat; padding-right: 16px; cursor: pointer;}

.u-icon-help{background: url(../images/common/icon-help.png) center center no-repeat; display: inline-block; width: 16px; height: 16px;  cursor: pointer; vertical-align: middle; *display:inline; *zoom:1;}

/*==========以下部分是Validform必须的===========*/
.Validform_loading{
	padding-left:23px;
	background:url(../images/icon/loading.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999; background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}
.Validform_right{ display:none;}

/*==========以下部分是autofill必须的===========*/
.m-autofill{ background: #fff; position: absolute; z-index: 999; display: none; border: 1px solid #ccc; border-top: 0; color: #444; overflow-x: hidden; overflow-y: auto; box-shadow: 0 0 1px 2px #f0f0f0;}
.m-autofill .list{ cursor: pointer;}
.m-autofill .list-active{ background: #f0f0f0;}
.m-autofill .list table{ width: 100%; table-layout: fixed;}
.m-autofill .list table td{ padding: 6px 10px;}

/* pages */
.pages {font-family:宋体; float:right; clear:right; margin-right:5px;}
.pages ul{ text-align:right; font-size:0;}
.pages ul li{ display:inline-block; *display:inline; *zoom:1; height:22px; line-height:22px; text-align:center;  text-indent:0; background:#fff; border:1px solid #e3e3e3; color:#333; font-size:12px; margin-right:5px;}
.pages ul li a,.pages ul li span{ display:inline-block; padding:0 10px; height:100%; color:#333;}
.pages ul li a:hover { background:#f1f1f1; color:#000; text-decoration:none;}
.pages ul li.active{ background:#5a85b2; border:1px solid #5a85b2; color:#fff;}
.pages ul li.active span,.pages ul li.active a{ color:#fff;}
.pages ul li.active a:hover{background:#5a85b2; color:#fff;}
.pages ul li.jump{ background:#fff; border:1px solid #e3e3e3; color:#999; padding:0 10px;}
.pages ul li.jump input{ width:24px; height:18px; line-height:18px; vertical-align:-1px; border:0 none; background:none; color:#333; text-align:center; outline:none}

/*---placeholder---*/
:-moz-placeholder,
::-webkit-input-placeholder{
  color: #e0e0e0;
}
.placeholder{
	color: #e0e0e0;
}

/* 小points */
.m-points{ background:#FDEEE9; border:1px solid #fadcd3; padding:10px;}

/* 小tips */
.m-tips{ border:1px solid #ffbe7a; zoom:1; background:#fffced; padding:8px 10px; line-height:20px;}

/* 小tips-gray */
.m-tips-gray{ zoom:1; background:#fafafa; padding:8px 10px; line-height:20px;}


/* 小menu */
.m-menu .subnav{ color:#808080;}
.m-menu .subnav a{ padding:0 10px; color:#808080; line-height:20px; display:inline-block; margin: 0 10px;}
.m-menu .subnav a.sel,.m-menu .subnav a.select{ color:#fff; background:#2E8AE5;}
.m-menu .subnav a.sel:hover,.m-menu .subnav a.select:hover{ color:#fff; text-decoration:none;}