<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>
    <link rel="stylesheet" href="/style/table-list.css">
</head>
<body>
    <div class="f-m15">
        <div class="m-tips"><a data-get="/admin/member/add" class="u-btn-gray">会员添加</a></div>
        <div class="m-tablist">
            <table>
                <thead>
                    <tr>
                        <th align="left">用户名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                   {%each infos as v%}
                    <tr>
                        <td><span class="s-blue">{%v['account']%}</span></td>
                        <td align="center"><a class="f-mr5" data-get="/admin/member/add?id={%v['id']%}">编辑</a><a data-del="/admin/member/del?id={%v['id']%}">删除</a></td>
                    </tr>
                    {%/each%}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript">
seajs.use(['tools'],function(tools){
    tools.get();
    tools.ajax();
    tools.del();
})
</script>