<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台会员登录</title>
    <link rel="stylesheet" href="/style/login.css">
</head>
<body>
    <div class="m-login-banner">
        <div class="inner">后台会员登录</div>
    </div>
    <div class="m-login-form">
       <form>
        <div class="list"><input type="text" class="u-txt" placeholder="账号" name="account" /></div>
        <div class="list"><input type="password" class="u-txt" placeholder="您的密码" name="password" /></div>
        <div class="list">
            <input type="submit" class="btn1" value="登陆" />
        </div>
        </form>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript">
seajs.use(['jquery','validForm','fnDialog'],function($,validForm,dialog){
    validForm.form({
        success:function(ret){
            if(ret.status){
                dialog.tips({content:ret.info,callback:function(){
                    if(ret.url){
                        window.location.href=ret.url;
                    }else{
                        window.location.href='/admin/index';
                    }
                }});
            }else{
                dialog.alert({content:ret.info});
            }
        }
    });
})
</script>