<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栏目添加</title>
    <link rel="stylesheet" href="/style/table-form.css">
</head>
<body>
    <div class="f-m15">
        <div class="m-tabform">
           <form>
           <input type="hidden" name="id" value="{%id%}" />
            <table>
                <tbody>
                    <tr>
                        <th width="120">栏目模型：</th>
                        <td>
                           <select class="u-slt" name="module">
                           {%each modules as value%}
                            <option value="{%value.module%}" {%if value.module==module%}selected{%/if%}>{%value.name%}</option>
                            {%/each%}
                            </select>
                            </td>
                    </tr>
                    <tr>
                        <th>栏目名称：</th>
                        <td><input type="text" class="u-txt" size="30" name="name" value="{%name%}" /></td>
                    </tr>
                    <tr>
                        <th>栏目图片：</th>
                        <td><input type="text" class="u-txt j-upload-val" size="30" name="image" value="{%image%}" /><a class="f-ml15 u-btn u-btn-big" data-upload>添加图片</a></td>
                    </tr>
                    <tr>
                        <th>栏目外链：</th>
                        <td><input type="text" class="u-txt" size="30" name="url" value="{%url%}" /></td>
                    </tr>
                    <tr>
                        <th>关键字：</th>
                        <td><input type="text" class="u-txt" size="30" name="keywords" value="{%keywords%}" /></td>
                    </tr>
                    <tr>
                        <th>栏目描述：</th>
                        <td><input type="text" class="u-txt" size="30" name="description" value="{%description%}" /></td>
                    </tr>
                    <tr>
                        <th>分类页：</th>
                        <td><select class="u-slt" datatype="*" name="category_template">{%each categorys as value%}<option value="{%value%}" {%if value==category_template%}selected{%/if%}>{%value%}</option>{%/each%}</select></td>
                    </tr>
                    <tr>
                        <th>列表页：</th>
                        <td><select class="u-slt" datatype="*" name="list_template">{%each lists as value%}<option value="{%value%}" {%if value==list_template%}selected{%/if%}>{%value%}</option>{%/each%}</select></td>
                    </tr>
                    <tr>
                        <th>内容页：</th>
                        <td><select class="u-slt" datatype="*" name="show_template">{%each shows as value%}<option value="{%value%}" {%if value==show_template%}selected{%/if%}>{%value%}</option>{%/each%}</select></td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript" src="/js/admin/add.js"></script>
<script type="text/javascript">
seajs.use(['jquery','tools'],function($,tools){
    tools.upload();
})
</script>