<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栏目列表</title>
    <link rel="stylesheet" href="/style/table-list.css">
</head>
<body>
    <div class="f-m15">
        <div class="m-tips"><a data-get="/admin/category/add" class="u-btn-gray">添加栏目</a></div>
        <div class="m-tablist">
            <table>
                <thead>
                    <tr>
                        <th align="left">名称</th>
                        <th align="left">模型</th>
                        <th>内容</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                   {% for v in infos %}
                    <tr>
                        <td><% v.name %></td>
                        <td><% v.module %></td>
                        <td align="center"><% v.contents.length?v.contents.length:'0' %></td>
                        <td align="center"><a class="f-mr5" href="/admin/article/list?categoryid=<% v.id %>">管理</a><a class="f-mr5" data-get="/admin/category/add?id=<% v.id %>">编辑</a><a data-del="/admin/category/del?id=<% v.id %>">删除</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript">
seajs.use(['jquery','tools','validForm','fnDialog'],function($,tools,validForm,dialog){
    tools.get();
    tools.del();
});
</script>