<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/style/domain.css">
</head>
<body>
    <div class="m-site-renewal">
        <div class="inner">
            <div class="pic f-fl"><img src="/style/images/domain.png"/></div>
            <div class="f-oh info">
                <div class="title">尊敬的用户您好，您的网站已到期！</div>
                <div class="des">为了您的正常使用，请您及时的对网站续费！</div>
                <div class="other">
                    <a class="btn1">立即续费</a><span>服务热线：<strong>0373-55631113</strong></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
