<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%title%}</title>
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
  <i class="icon-cloud-download icon-spin icon-5x"></i>
   {%include 'header'%}
    我是主页！hello world！
</body>
</html>
<script type="text/javascript" src="js/socket.io-1.3.6.js"></script>
<script type="text/javascript">
    var socket=io.connect('ws://127.0.0.1:3000/chat');
    socket.emit('chat message','hello world!');
//    setInterval(function(){
//        socket.emit('emit message',navigator.userAgent);
//    },1000);
    socket.on('new message',function(msg){
        console.log(msg);
    })
</script>