<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微秀</title>
    <link rel="stylesheet" href="/style/weixiu.css">
    <script type="text/javascript">
        function supportCss3(style) { 
            var prefix = ['webkit', 'Moz', 'ms', 'o'], 
            i, 
            humpString = [], 
            htmlStyle = document.documentElement.style, 
            _toHumb = function (string) { 
                return string.replace(/-(\w)/g, function ($0, $1) { 
                    return $1.toUpperCase(); 
                }); 
            }; 

            for (i in prefix){
                humpString.push(_toHumb(prefix[i] + '-' + style)); 
                humpString.push(_toHumb(style)); 
            }

            for (i in humpString){
                if (humpString[i] in htmlStyle) return true;
            }

            return false; 
        }
        if(!supportCss3('animation')){
            window.location.href='/weixiu/support';
        }
    </script>
</head>
<body style=" background-image: url('../images/weixiu/bg.jpg')">
    <div class="g-weixiu-con">
        <div class="m-btn-arrow"><i></i><i></i><i></i></div>
        <div class="m-group">
           <div class="btn-group">
               <div class="prev btn"></div>
               <div class="next btn"></div>
           </div>
            <div class="bd">
                <ul>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                    <li>
                        <div class="pic"><img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" /></div>
                        <div class="tt">赵洁</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-code">
            <div class="tt">扫一扫，分享给朋友吧！</div>
            <div class="con">
                <img src="http://www.cqxbh.com/?m=product&a=qrcode&id=57" class="code" />
            </div>
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
           <div class="bottom">这么漂亮的场景 -> <a href="">我也来制作</a></div>
        </div>
        <div class="m-phone_panel">
            <div class="top"></div>
            <div class="con">
                <div class="tt">情侣勿入，单身狗过七夕</div>
                <iframe height="485" width="100%" frameborder="0" scrolling="no" allowtransparency="true" src="/weixiu/show" id="swiperIframe"></iframe>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="m-phone-btn">
            <a class="prev-btn btn">上一页</a>
            <a class="next-btn btn">下一页</a>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript">
seajs.use(['jquery','box'],function($,box){
    box.slide({contain:".m-group",mainCell:".bd ul",effect:"topLoop",pnLoop:false,autoPlay:false,vis:4});
    var swiperIframe=$('#swiperIframe');
    swiperIframe.load(function(){
        var mySwiper=$(this)[0].contentWindow.mySwiper;
        $('.prev-btn').click(function(){
            mySwiper.slidePrev();
        });
        $('.next-btn').click(function(){
            mySwiper.slideNext();
        });
    });
});
</script>