<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/style/weixiu.css">
</head>
<body>
    <div class="m-support-mask"></div>
    <div class="m-support">
        <div class="pic"><img src="/images/weixiu/html5.svg" /></div>
        <div class="info">
            <h3>尊敬的用户：</h3>
            <p>为了保证您的使用体验，建议您从下列浏览器中选择一款进行访问。</p>
            <div class="list">
                <ul class="f-cb">
                    <li><a href="https://www.baidu.com/s?wd=Chrome" target="_blank"><img src="/images/weixiu/chrome.svg" />Chrome</a></li>
                    <li><a href="https://www.baidu.com/s?wd=ie11" target="_blank"><img src="/images/weixiu/IE11.svg" />IE11</a></li>
                    <li><a href="http://chrome.360.cn/" target="_blank"><img src="/images/weixiu/360fast.svg" />360急速浏览器</a></li>
                    <li><a href="http://se.360.cn/" target="_blank"><img src="/images/weixiu/360safe.svg" />360浏览器极速模式</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>