<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>随聊</title>
    <link rel="stylesheet" href="/style/chat.css">
</head>
<body>
    <div class="g-chat-left">
        <div class="m-chat-room">
            <div class="title"><span class="j-team"><span class="f-toe name"><% team.name %></span><i class="icon-angle-down"></i></span></div>
        </div>
        <div class="m-chat-member">
            <div class="item-tt"><div class="f-fr icon j-topic-add"><i class="icon-plus-sign"></i></div><div class="title"><h2 class="f-toe">话题列表</h2></div></div>
            <div class="j-topic-list">
               {% for value in topic %}
                <div class="item-icon" data-id="<% value._id %>"><div class="f-fl icon"><i class="icon-comment-alt"></i></div><div class="title"><h2 class="f-toe"><% value.name %></h2></div></div>
                {% endfor %}
            </div>
            <script type="text/html" id="topicList">
               <<each topic as value>>
                <div class="item-icon" data-id="<<value._id>>"><div class="f-fl icon"><i class="icon-comment-alt"></i></div><div class="title"><h2 class="f-toe"><<value.name>></h2></div></div>
                <</each>>
            </script>
            <div class="item-tt"><div class="f-fr icon"><i class="icon-plus-sign"></i></div><div class="title"><h2 class="f-toe">私聊</h2></div></div>
            <div class="item-icon"><div class="f-fl pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div><div class="title"><h2 class="f-toe">小艾</h2></div></div>
        </div>
        <div class="m-chat-user">
            <div class="inner">
                <div class="f-fr icon j-user"><i class="icon-chevron-up"></i></div>
                <div class="f-fl pic"><img class="avatar" src="<% user.avatar %>" /></div>
                <div class="title"><h2 class="f-toe nickname"><% user.nickname %></h2></div>
            </div>
        </div>
    </div>
    <div class="g-chat-right j-chat-con"><h2 class="f-m15">正在加载数据中...</h2></div>
    <script type="text/html" id="chatCon">
        <div class="m-chat-theme f-cb">
            <div class="title f-fl j-topic-modify" data-id="<<_id>>"><div class="f-fl pic"><i class="icon-comment-alt"></i></div><h2 class="f-fl"><<name>></h2><i class="icon-chevron-down icon"></i></div>
        </div>
        <div class="g-chat-con-right">
           <div class="f-mb10"></div>
            <div class="m-chat-member black">
                <div class="item-tt"><div class="title"><h2 class="f-toe">成员菜单</h2></div></div>
                <div class="u-hr f-mb10"></div>
                <<each members as v>>
                <div class="item-icon"><div class="f-fl pic"><img src="<<if avatar>><<avatar>><<else>>/images/common/avatar.jpg<</if>>" /></div><div class="title"><h2 class="f-toe"><<v.nickname>></h2></div></div>
                <</each>>
                <div class="u-hr f-mb10 f-mt10"></div>
                <div class="item-icon j-invitation" data-teamid="<% teamId %>" data-topicid="<<_id>>"><div class="f-fl icon"><i class="icon-user"></i></div><div class="title"><h2 class="f-toe">邀请好友</h2></div></div>
            </div>
        </div>
        <div class="g-chat-con-left">
            <div class="g-chat-con">
                <div class="m-chat-hr"><span>今天</span></div>
                <div class="m-chat-message">
                    <div class="pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div>
                    <div class="info">
                        <div class="title"><b>zhuhui</b><span class="time">今天 11:29</span></div>
                        <div class="des">aaaaaa</div>
                    </div>
                </div>
                <div class="m-chat-message">
                    <div class="pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div>
                    <div class="info">
                        <div class="title"><b>zhuhui</b><span class="time">今天 11:29</span></div>
                        <div class="des">aaaaaa</div>
                    </div>
                </div>
            </div>
            <div class="m-chat-add">
                <div class="box">
                    <span class="gray">写点什么...</span>
                    <span class="tips">Shift + Enter 换行 Enter 发送</span>
                    <div class="chat-editor j-chat-editor" contenteditable="true"></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="topicAdd">
      <<if _id>>
       <div class="modal-tabs-opt tabs-opt">
           <span class="active">话题信息</span>
           <span>高级设置</span>
       </div>
       <</if>>
        <div class="tabs-con f-pd20">
           <form action="/team/topic/add" class="f-validForm-dn">
               <input type="hidden" name="id" value="<<_id>>" />
               <input type="hidden" name="team" value="<% teamId %>" />
                <div class="modal-form-group f-mb15">
                    <div class="tt">话题名称</div>
                    <div class="des"><input type="text" class="u-txt" name="name" datatype="*" value="<<name>>"></div>
                </div>
                <div class="modal-form-group f-mb15">
                    <div class="tt">话题目的</div>
                    <div class="des"><textarea class="u-txtarea" name="description"><<description>></textarea></div>
                </div>
                <input type="submit" value="保存" class="modal-btn1" />
            </form>
            <<if _id>>
            <div>
             <<if isdel>>
              <<if owner!='<% user._id %>'>>
               <div class="modal-form-group f-mb15">
                   <div class="tt">退出话题</div>
                   <div class="des">一旦你退出了该话题，你将不能查看任何该话题的聊天记录。退出话题后，如果想重新加入，请联系话题管理员。</div>
               </div>
               <<else>>
               <div class="modal-form-group f-mb15">
                   <div class="tt">删除话题</div>
                   <div class="des">一旦你删除了该话题，该话题的所有资料以及聊天记录都会删除，请谨慎操作。</div>
               </div>
                <</if>>
                <div class="f-tar">
                   <<if owner!='<% user._id %>'>>
                    <a class="model-btn gray f-mr10 j-del" data-id="<<_id>>">退出话题</a>
                    <<else>>
                    <a class="model-btn danger f-mr10 j-del" data-id="<<_id>>">删除话题</a>
                    <</if>>
                </div>
                <</if>>
            </div>
            <</if>>
        </div>
    </script>
    <script type="text/html" id="invitation">
        <div class="modal-tabs-opt tabs-opt">
            <span class="active">已加入成员</span>
            <span>从团队中添加成员</span>
        </div>
        <div class="tabs-con f-pd20">
            <div>
                <div class="modal-search f-mb10"><input type="text" class="u-txt" placeholder="添加或邀请成员" /><i class="btn">邀请</i></div>
                <div class="m-chat-members">
                    <ul class="list">
                       <<each topic.members as v>>
                        <li>
                            <<if v._id!=topic.owner>><a class="u-btn-yellow f-fr btn">删除成员</a><</if>>
                            <div class="pic"><img src="<<if avatar>><<avatar>><<else>>/images/common/avatar.jpg<</if>>" /></div>
                            <div class="info">
                                <div class="tt"><<v.account>><<if v._id=='<% user._id %>'>>(我)<</if>></div>
                                <div class="des"><<if v._id==topic.owner>>话题创造者<<else>>成员<</if>></div>
                            </div>
                        </li>
                        <</each>>
                    </ul>
                </div>
            </div>
            <div>
                <div class="modal-search f-mb10"><input type="text" class="u-txt" placeholder="搜索成员" /></div>
                <div class="m-chat-members">
                    <ul class="list">
                       <<each team.members as v>>
                        <li>
                            <<if v.isTopic>><a class="f-fr btn gray">已加入</a><<else>><a class="u-btn f-fr btn">邀请会员</a><</if>>
                            <div class="pic"><img src="<<if avatar>><<avatar>><<else>>/images/common/avatar.jpg<</if>>" /></div>
                            <div class="info">
                                <div class="tt"><<v.account>><<if v._id=='<% user._id %>'>>(我)<</if>></div>
                                <div class="des"><<if v._id==topic.owner>>话题创造者<<else>>成员<</if>></div>
                            </div>
                        </li>
                        <</each>>
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="user">
       <form class="f-validForm-dn">
          <input type="hidden" name="avatar" class="avatar j-upload-val" value="<<avatar>>" />
           <div class="modal-pic f-mb15"><div class="pic"><i class="icon icon-pencil" data-upload></i><img src="<<if avatar>><<avatar>><<else>>/images/common/avatar.jpg<</if>>" class="j-upload-val" /></div></div>
        <div class="modal-form-group f-mb15">
            <div class="tt">姓名</div>
            <div class="des"><input type="text" class="u-txt" name="nickname" datatype="*" value="<<nickname>>"></div>
        </div>
        <div class="modal-form-group f-mb15">
            <div class="tt">电话</div>
            <div class="des"><input type="text" class="u-txt" name="mobile" datatype="*" value="<<mobile>>"></div>
        </div>
        <input type="submit" class="modal-btn1" value="保存" />
        </form>
    </script>
    <script type="text/html" id="team">
        <div class="modal-tabs-opt tabs-opt">
           <span class="active">基本信息</span>
           <span>团队成员</span>
           <span>高级设置</span>
        </div>
        <div class="tabs-con f-pd20">
            <form class="f-validForm-dn">
                <input type="hidden" name="id" value="<<_id>>" />
                <div class="modal-form-group f-mb15">
                    <div class="tt">团队名称</div>
                    <div class="des">
                        <input type="text" class="u-txt" name="name" datatype="*" value="<<name>>">
                    </div>
                </div>
                <input type="submit" class="modal-btn1" value="保存" />
            </form>
            <div>
                <div class="modal-form-group f-mb15">
                    <div class="tt">通过连接邀请伙伴加入团队</div>
                    <div class="des">
                        <input type="text" class="u-txt" value="<% host %>/team/invitation?id=<<_id>>" readonly />
                    </div>
                </div>
                <div class="m-chat-members">
                    <ul class="list">
                       <<each members as v>>
                        <li>
                            <div class="pic"><img src="<<if avatar>><<avatar>><<else>>/images/common/avatar.jpg<</if>>" /></div>
                            <div class="info">
                                <div class="tt"><<v.account>><<if v._id=='<% user._id %>'>>(我)<</if>></div>
                                <div class="des"><<if v._id==owner>>话题创造者<<else>>成员<</if>></div>
                            </div>
                        </li>
                        <</each>>
                    </ul>
                </div>
            </div>
            <div>
               <<if owner!='<% user._id %>'>>
                   <div class="modal-form-group f-mb15">
                       <div class="tt">退出团队</div>
                       <div class="des">一旦你退出了该团队，你将不能查看任何该团队的聊天记录。退出团队后，如果想重新加入，请联系团队管理员。</div>
                   </div>
                   <a href="javascript:void(0);" class="modal-btn1 j-del">退出团队</a>
               <<else>>
                   <div class="modal-form-group f-mb15">
                       <div class="tt">删除团队</div>
                       <div class="des">一旦你删除了该团队，将删除该团队的所有内容，不可恢复，请谨慎操作。</div>
                   </div>
                   <a href="javascript:void(0);" class="modal-btn1 j-del">删除团队</a>
                <</if>>
            </div>
        </div>       
    </script>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript" src="/js/admin/chat.js"></script>