<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>随聊</title>
    <link rel="stylesheet" href="/style/chat.css">
</head>
<body>
    <div class="g-chat-left">
        <div class="m-chat-room">
            <div class="title"><span class="f-toe">room</span><i class="icon-angle-down"></i></div>
        </div>
        <div class="m-chat-member">
            <div class="item-tt"><div class="f-fr icon"><i class="icon-plus-sign"></i></div><div class="title"><h2 class="f-toe">话题列表</h2></div></div>
            <div class="item-icon sel"><div class="f-fl icon"><i class="icon-comment-alt"></i></div><div class="title"><h2 class="f-toe">huati</h2></div></div>
            <div class="item-tt"><div class="f-fr icon"><i class="icon-plus-sign"></i></div><div class="title"><h2 class="f-toe">私聊</h2></div></div>
            <div class="item-icon"><div class="f-fl pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div><div class="title"><h2 class="f-toe">小艾</h2></div></div>
        </div>
        <div class="m-chat-user">
            <div class="inner">
                <div class="f-fr icon"><i class="icon-chevron-up"></i></div>
                <div class="f-fl pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div>
                <div class="title"><h2 class="f-toe">zhuhui</h2></div>
            </div>
        </div>
    </div>
    <div class="g-chat-right">
        <div class="m-chat-theme">
            <div class="title"><div class="f-fl pic"><i class="icon-comment-alt"></i></div><h2 class="f-fl">huati</h2><i class="icon-chevron-down icon"></i></div>
        </div>
        <div class="g-chat-con-right">
           <div class="f-mb10"></div>
            <div class="m-chat-member black">
                <div class="item-tt"><div class="title"><h2 class="f-toe">在线会员</h2></div></div>
                <div class="u-hr f-mb10"></div>
                <div class="item-icon"><div class="f-fl pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div><div class="title"><h2 class="f-toe">小艾</h2></div></div>
                <div class="item-icon"><div class="f-fl pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div><div class="title"><h2 class="f-toe">小艾</h2></div></div>
                <div class="u-hr f-mb10 f-mt10"></div>
                <div class="item-icon"><div class="f-fl icon"><i class="icon-user"></i></div><div class="title"><h2 class="f-toe">邀请好友</h2></div></div>
            </div>
        </div>
        <div class="g-chat-con-left">
            <div class="g-chat-con">
                <div class="m-chat-hr"><span>今天</span></div>
                <div class="m-chat-message">
                    <div class="pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div>
                    <div class="info">
                        <div class="title"><b>zhuhui</b><span class="time">今天 11:29</span></div>
                        <div class="des">aaaaaa</div>
                    </div>
                </div>
                <div class="m-chat-message">
                    <div class="pic"><img src="https://mailimg.teambition.com/logos/12.png" /></div>
                    <div class="info">
                        <div class="title"><b>zhuhui</b><span class="time">今天 11:29</span></div>
                        <div class="des">aaaaaa</div>
                    </div>
                </div>
            </div>
            <div class="m-chat-add">
                <div class="box">
                    <span class="gray">写点什么...</span>
                    <span class="tips">Shift + Enter 换行 Enter 发送</span>
                    <div class="chat-editor j-chat-editor" contenteditable="true"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript" src="/js/admin/chat.js"></script>